/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/

*{
     font-family: Helvetica, Arial, sans-serif; 
    line-height: 1.6;
}


#site_header{
    background-color: #ff8523;
    height: 145px;
     padding-left: 20px; 
     padding-top: 20px; 
    
}




.main_navigation > a{
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    position: relative; top: 20px; left: 10px;
    padding: 8px 20px 8px 20px;
    /* margin: 10px; */
}

section:nth-child(2){
      border-style: solid;
      border-left:none;
      border-right:none;
      border-color: #dddddd;
      padding-bottom: 50px;
      
}

body > div{
     background-color: white; 
}


#page_content{
     padding:20px; 

}

h2, h3{
    color: #1fabe5
}

ul{
    font-weight: bold;
    margin-bottom: 50px;
}

thead > tr > td {
    padding: 16px;
    background-color: #1fabe5;
    color: white;
    text-align: left;
}

table{
    border-collapse: collapse;
}

thead, td {
    border: 1px #046c97;
    border-style: solid;
    text-align: left;
    padding: 0px 0px 0px 8px;
}

p > a{
    color: #1fabe5
}

tbody > tr > td > img{
    width: 65px;
    margin: 10px 15px;
    padding: 0px 0px 0px 0px; 
}
 .name{
    background-color: #ff8523;
    border-radius: 8px;
    height: 80px;
    color: white;
    padding: 25px 0px 0px 20px; 
     margin-bottom: 40px; 
    font-weight: bold;
 }

body{
    border: 3px #ffd24a;
    border-radius: 7px;
    border-style: ridge;
    background-image: url(img/bg.jpg);
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
     box-shadow: 0px 3px 4px darkslategray; 
}
.name>input{
    
    width: 300px;
    height: 50px;
}

.name>label{
    padding:20px;
}

.city_container {
    font-weight: bold;
    margin-bottom: 40px;
}

label[for=bio]{
    font-weight: bold;
}

form {
    background-color:#eee;
    padding: 25px;
    border-radius: 7px;
}

textarea{
    margin-top: 15px;
    width: 1040px;
    border-color: #1fabe5;
    margin-bottom: 30px;
}

#submit_button{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #1fabe5;
    border: none;
    border-radius: 7px;
    width: 120px;
    height: 50px;
}